<h2 class='docs-h2'><code>@Input</code></h2>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Selector</th>
      <th>Type</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>mlButton</code></td>
      <td>boolean</td>
      <td>Disabled用のスタイルにするかどうかを設定する。</td>
    </tr>
    <tr>
      <td><code>theme</code></td>
      <td>string</td>
      <td>ボタンを指定したThemeの配色のスタイルに設定する。</td>
    </tr>
    <tr>
      <td><code>variant</code></td>
      <td>string</td>
      <td>
        ボタンのスタイルを設定する。<br>
        Types： <code>'basic' | 'raised' | 'stroked' | 'flat' | 'fab' | 'icon'</code>
      </td>
    </tr>

    <tr>
      <td><code>hoverAction</code></td>
      <td>string</td>
      <td>
        Hover時の背景色をスタイルを設定する。<br>
        Types： <code>'auto' | 'enable' | 'disable'</code>
      </td>
    </tr>
    <tr>
      <td><code>wrapAnchor</code></td>
      <td>boolean</td>
      <td>ボタンの内部に&lt;a&gt;を設置する場合のスタイルをサポートするかどうかを設定する。</td>
    </tr>
    <tr>
      <td><code>rippleDisabled</code></td>
      <td>boolean</td>
      <td>ボタンの内部に&lt;a&gt;を設置する場合のスタイルをサポートするかどうかを設定する。</td>
    </tr>
    <tr>
      <td><code>rippleDisabled</code></td>
      <td>boolean</td>
      <td>ボタンの内部に&lt;a&gt;を設置する場合のスタイルをサポートするかどうかを設定する。</td>
    </tr>
    <tr>
      <td><code>rippleTypeBreakpoint</code></td>
      <td>object</td>
      <td>
        クリック時、ボタンのサイズが<span class='bold'>設定したサイズより小さい場合</span>は通常の"Ripple"を表示し、ボタンのサイズが<span class='bold'>設定したサイズをより大きい場合</span>は"Ripple Overdrive"が表示するようになる。<br>
        Types: <code>{{ "{" }} width: number, height: number {{ "}" }}</code>
      </td>
    </tr>
  </tbody>
</table>
