<h2 class='docs-h2'><code>@Input</code></h2>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Selector</th>
      <th>Type</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>mlButton</code></td>
      <td>boolean</td>
      <td>Disabled用のスタイルにするかどうかを設定する。</td>
    </tr>
    <tr>
      <td><code>theme</code></td>
      <td>string</td>
      <td>ボタンの配色を設定済みのTheme用に設定する。</td>
    </tr>
    <tr>
      <td><code>variant</code></td>
      <td>string</td>
      <td>ボタンのスタイルを設定する。<br></td>
    </tr>

    <tr>
      <td><code>hoverAction</code></td>
      <td>string</td>
      <td>Hover時の背景色をスタイルを設定する。</td>
    </tr>
    <tr>
      <td><code>wrapAnchor</code></td>
      <td>boolean</td>
      <td>ボタンの内部に&lt;a&gt;を設置する場合のスタイルを設定する。</td>
    </tr>
    <tr>
      <td><code>rippleDisabled</code></td>
      <td>boolean</td>
      <td>Rippleを無効化する。</td>
    </tr>
    <tr>
      <td><code>rippleOverdrive</code></td>
      <td>boolean</td>
      <td>RippleをのタイプをOverdriveにする。</td>
    </tr>
    <tr>
      <td><code>rippleTypeBreakpoint</code></td>
      <td>object</td>
      <td>クリック時、ボタンのサイズが設定したサイズより同じか小さい場合は通常の"Ripple"を表示し、大きい場合は"Overdrive"を表示するようになる。</td>
    </tr>
  </tbody>
</table>
<pre class='docs-codeblock-pre'><code class='js'><span class='hljs-name'>interface</span> MlButtonBinder {{ "{" }}
  mlButton<span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>''</span>;
  theme<span class='hljs-keyword'>?:</span> <span class='hljs-type'>string</span>;
  variant<span class='hljs-keyword'>?:</span> <span class='hljs-string'>'basic'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'raised'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'stroked'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'flat'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'fab'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'icon'</span>;
  hoverAction<span class='hljs-keyword'>?:</span> <span class='hljs-string'>'auto'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'enable'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'disable'</span>;
  wrapAnchor<span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span>;
  rippleDisabled<span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span>;
  rippleOverdrive<span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span>;
  rippleTypeBreakpoint<span class='hljs-keyword'>?:</span> {{ "{" }}
    width<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>,
    height<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>
  {{ "}" }};
{{ "}" }}</code></pre>
