body {
  margin: 0;
}

::ng-deep {
  app-test {
    display: block;
    width: 100%;
    height: 100%;
  }
  .test-enter, .test-leave-to {
    opacity: 0;
  }

  .test-enter-action, .test-leave-action {
    transition: opacity 1s;
  }

  .portal-outlet {
    min-width: 300px; min-height: 42px;
    padding: 8px; margin-top: 16px;
    border: 1px solid black;
    text-align: center;
  }
}

