body {
  margin: 0;
}

::ng-deep {
  app-test {
    display: block;
    width: 100%;
    height: 100%;
  }
  .test-enter, .test-leave-to {
    opacity: 0;
  }

  .test-enter-action, .test-leave-action {
    transition: opacity .5s;
  }
}

