

$fs-h1:       28px;
$fs-h1-small: 24px;

$fs-h2:       25px;
$fs-h2-small: 22px;

$fs-h3:       22px;
$fs-h3-small: 20px;

$fs-h4:       20px;
$fs-h4-small: 18px;

$fs-h5:       18px;
$fs-h5-small: 16px;

$fs-h6:       16px;
$fs-h6-small: 14px;

$fs-text:       16px;
$fs-text-small: 16px;

$fs-small:       14px;
$fs-small-small: 14px;


@mixin responsive-font-size($font-size-ref, $line-height: false) {
  $res: null !default;
  $res-small: null !default;

  @if $font-size-ref == h1 {
    $res: $fs-h1;
    $res-small: $fs-h1-small;
  } @else if $font-size-ref == h2 {
    $res: $fs-h2;
    $res-small: $fs-h2-small;
  } @else if $font-size-ref == h3 {
    $res: $fs-h3;
    $res-small: $fs-h3-small;
  } @else if $font-size-ref == h4 {
    $res: $fs-h4;
    $res-small: $fs-h4-small;
  } @else if $font-size-ref == h5 {
    $res: $fs-h5;
    $res-small: $fs-h5-small;
  } @else if $font-size-ref == h6 {
    $res: $fs-h6;
    $res-small: $fs-h6-small;
  } @else if $font-size-ref == small {
    $res: $fs-small;
    $res-small: $fs-small-small;
  } @else {
    $res: $fs-text;
    $res: $fs-text-small;
  }

  @if $line-height == true {
    @include medium {
      font-size: $res;
      line-height: $res;
    } @include small {
      font-size: $res-small;
      line-height: $res-small;
    }
  } @else {
    @include medium {
      font-size: $res;
    } @include small {
      font-size: $res-small;
    }
  }
}
