$z-standard-side-sheet: 0;
$z-text-button: 0;

$z-switch: 1;
$z-resting-card: 1;
$z-resting-search-bar: 1;

$z-resting-contained-button: 2;

$z-scrolled-search-bar: 3;

$z-app-bar: 4;

$z-loading-overlay: 5;

$z-resting-fab: 6;

$z-pressed-contained-button: 8;
$z-picked-up-card: 8;
$z-menus: 8;
$z-floating-app-bar: 8;
$z-bottom-app-bar: 8;
$z-bottom-navigation-bar: 8;
$z-bottom-nav-bar: 8;
$z-standard-bottom-sheet: 8;
$z-standard-side-sheet: 8;

$z-pressed-fab: 12;

$z-overlay: 15;

$z-navigation-drawer: 16;
$z-nav-drawer: 16;
$z-modal-bottom-sheet: 16;
$z-modal-side-sheet: 16;
$z-dialog: 16;
