<section class='code-block'>
  <nav>
    <button mlButton [theme]='type === 0 ? "accent" : ""' (click)='type = 0'>HTML</button>
    <button mlButton [theme]='type === 1 ? "accent" : ""' (click)='type = 1'>TS</button>
    <button mlButton [theme]='type === 2 ? "accent" : ""' (click)='type = 2'>CSS</button>
  </nav>
  <div class='prod'>
    <div class="form">
    </div>
  </div>

  <pre class='code'>
    <ng-template [ngIf]='type === 0'><code class='html'>
    </code></ng-template>

    <ng-template [ngIf]='type === 1'><code class='js'>
    </code></ng-template>

    <ng-template [ngIf]='type === 2'><code class='css'>
    </code></ng-template>
  </pre>
</section>
