<h2 class='docs-ref-h2'>Directives</h2>
<h3 class='docs-ref-h3 first'>
  <span>selector：</span><code>[mlPopupOutlet]</code><br>
  <span>exportAs：</span><code>mlPopupOutlet</code>
</h3>
<h4 class='docs-ref-h4'><code>@Attribute</code></h4>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Selector</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>key</code></td>
      <td>設定すると、"<code>PopupOutlet</code>"Serviceを用いてアクセスすることが可能となり、どこからでも出力できる。</td>
    </tr>
  </tbody>
</table>
<pre class='docs-codeblock-pre'><code class='js'>@<span class='hljs-decorator'>Attribute</span>(<span class='hljs-string'>'key'</span>) <span class='hljs-prop'>key</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>string</span>;</code></pre>


<h4 class='docs-ref-h4'><code>@Input</code></h4>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Selector</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>mlPopupOutlet</code></td>
      <!-- <td><a fragment='types'>MlPopupAttachContent</a></td> -->
      <td></td>
    </tr>
    <tr>
      <td><code>mlPopupOutletConfig</code></td>
      <!-- <td><a fragment='types'>MlPopupAttachConfig</a></td> -->
      <td><code>[mlPopupOutlet]</code>に値が代入され、Popupから出力した際に参照される設定。Popupから値が出力される際にしか参照されないため、Popupが出力されたあとに変更しても再出力されない限り設定は変わらない。</td>
    </tr>
  </tbody>
</table>
<pre class='docs-codeblock-pre'><code class='js'>@<span class='hljs-decorator'>Input</span>(<span class='hljs-string'>'mlPopupOutlet'</span>) <span class='hljs-prop'>content</span><span class='hljs-keyword'>:</span> MlPortalContent;
@<span class='hljs-decorator'>Input</span>(<span class='hljs-string'>'mlPopupOutletConfig'</span>) <span class='hljs-prop'>config</span><span class='hljs-keyword'>:</span> MlPopupConfig;</code></pre>


<h4 class='docs-ref-h4'><code>@Output</code></h4>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Selector</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>mlPopupAttachedRef</code></td>
      <td>出力されるタイミングは、<code>[mlPopupOutlet]</code>に値が代入され、Popupから出力したとき。</td>
    </tr>
  </tbody>
</table>


<h2 class='docs-ref-h2'>Services</h2>
<h3 class='docs-ref-h3 first'><code>mlPopupOutlet</code></h3>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Property</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>attach</code></td>
      <td>第２引数に代入した値に対応した出力先(outlet)に、第１引数に代入したコンテンツを出力する。</td>
    </tr>
    <tr>
      <td><code>attachContents</code></td>
      <td>複数の値を同時に出力する。戻り値は配列で出力される。</td>
    </tr>
    <tr>
      <td><code>detachAll</code></td>
      <td>第１引数に代入した値に対応した出力先(outlet)に出力済みのコンテンツをすべて削除する。</td>
    </tr>
  </tbody>
</table>
<pre class='docs-codeblock-pre'><code class='js'><span class='hljs-type'>interface</span> MlPopupOutlet {{ "{" }}
  <span class='hljs-method'>attach</span>(<span class='hljs-arg'>content</span><span class='hljs-keyword'>:</span> MlPortalContent, <span class='hljs-arg'>keyOrData</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>string</span> <span class='hljs-keyword'>|</span> MlPopupOutletData, <span class='hljs-arg'>config</span><span class='hljs-keyword'>?:</span> MlPopupConfig)<span class='hljs-keyword'>:</span> MlPopupAttachedRef;
  <span class='hljs-method'>attachContents</span>(<span class='hljs-arg'>contents</span><span class='hljs-keyword'>:</span> MlPortalContent<span class='hljs-array'>[]</span>, <span class='hljs-arg'>keyOrData</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>string</span> <span class='hljs-keyword'>|</span> MlPopupOutletData, <span class='hljs-arg'>config</span><span class='hljs-keyword'>?:</span> MlPopupConfig)<span class='hljs-keyword'>:</span> MlPopupAttachedRef<span class='hljs-type'>[]</span>;
  <span class='hljs-method'>detachAll</span>(<span class='hljs-arg'>keyOrData</span><span class='hljs-keyword'>:</span> <span class='hljs-string'>'all'</span> <span class='hljs-keyword'>|</span> <span class='hljs-type'>string</span> <span class='hljs-keyword'>|</span> MlPopupOutletData)<span class='hljs-keyword'>:</span> <span class='hljs-type'>void</span>;
{{ "}" }}</code></pre>


<h2 class='docs-ref-h2'>Classes</h2>
<h3 class='docs-ref-h3 first'><code>MlPopupAttachedRef</code></h3>
<table class='docs-ref-table'>
  <thead>
    <tr>
      <th>Property</th>
      <th class='grow'>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>outletKey</code></td>
      <td>outletのkeyの名前。</td>
    </tr>
    <tr>
      <td><code>attachedOrder</code></td>
      <td>attachした順番。</td>
    </tr>
    <tr>
      <td><code>contentData</code></td>
      <td>出力したコンテンツのデータ。</td>
    </tr>
    <tr>
      <td><code>outletData</code></td>
      <td>出力先のデータ。</td>
    </tr>
    <tr>
      <td><code>detach</code></td>
      <td>出力したコンテンツを削除する。</td>
    </tr>
    <tr>
      <td><code>afterAttached</code></td>
      <td>アタッチされ、アニメーション終了後を伝えるObservableを出力する関数。completeは呼び出されない。</td>
    </tr>
    <tr>
      <td><code>beforeDetached</code></td>
      <td>デタッチされた瞬間を伝えるObservableを出力する関数。completeは呼び出されない。</td>
    </tr>
    <tr>
      <td><code>afterDetached</code></td>
      <td>デタッチされ、アニメーション終了後を伝えるObservableを出力する関数。completeは呼び出されない。</td>
    </tr>
    <tr>
      <td><code>backdropClick</code></td>
      <td>背景のクリックを監視するObservableを出力する関数。</td>
    </tr>
    <tr>
      <td><code>keydownEvents</code></td>
      <td>keydownを監視するObservableを出力する関数。</td>
    </tr>
    <tr>
      <td><code>setBackdrop</code></td>
      <td>backdropを表示するか非表示するかを切り替える。</td>
    </tr>
  </tbody>
</table>
<pre class='docs-codeblock-pre'><code class='js'><span class='hljs-type'>interface</span> MlPortalAttachedRef {{ "{" }}
  outletKey<span class='hljs-keyword'>:</span> <span class='hljs-type'>string</span>;
  attachedOrder<span class='hljs-keyword'>:</span> <span class='hljs-type'>number</span>;
  contentData<span class='hljs-keyword'>:</span> MlPortalContentData,
  outletData<span class='hljs-keyword'>:</span> MlPortalOutletData,
  <span class='hljs-method'>detach</span>()<span class='hljs-keyword'>:</span> <span class='hljs-type'>void</span>
  <span class='hljs-method'>afterAttached</span>()<span class='hljs-keyword'>:</span> NoCompleteObservable&lt;<span class='hljs-type'>void</span>&gt;;
  <span class='hljs-method'>beforeDetached</span>()<span class='hljs-keyword'>:</span> NoCompleteObservable&lt;<span class='hljs-type'>void</span>&gt;;
  <span class='hljs-method'>afterDetached</span>()<span class='hljs-keyword'>:</span> NoCompleteObservable&lt;<span class='hljs-type'>void</span>&gt;;
  <span class='hljs-method'>backdropClick</span>()<span class='hljs-keyword'>:</span> Observable&lt;<span class='hljs-type'>void</span>&gt;;
  <span class='hljs-method'>keydownEvents</span>()<span class='hljs-keyword'>:</span> Observable&lt;KeyboardEvent&gt;;
  <span class='hljs-name'>set</span> <span class='hljs-method'>setBackdrop</span>(<span class='hljs-prop'>enable</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>boolean</span>)<span class='hljs-keyword'>:</span> <span class='hljs-type'>void</span>;
{{ "}" }}

<span class='hljs-type'>interface</span> NoCompleteObservable&lt;T&gt; <span class='hljs-keyword'>extends</span> Subject&lt;T&gt; {{ "{" }}
  <span class='hljs-method'>subscribe</span>(<span class='hljs-arg'>observer</span><span class='hljs-keyword'>?:</span> PartialObserver&lt;<span class='hljs-type'>void</span>&gt;): Subscription;
  <span class='hljs-method'>subscribe</span>(<span class='hljs-arg'>next</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>null</span> <span class='hljs-keyword'>|</span> <span class='hljs-type'>undefined</span>, <span class='hljs-arg'>error</span><span class='hljs-keyword'>: </span><span class='hljs-type'>null</span> <span class='hljs-keyword'>|</span> <span class='hljs-type'>undefined</span>): Subscription;
  <span class='hljs-method'>subscribe</span>(<span class='hljs-arg'>next</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>null</span> <span class='hljs-keyword'>|</span> <span class='hljs-type'>undefined</span>, <span class='hljs-arg'>error</span><span class='hljs-keyword'>: (</span><span class='hljs-arg'>error</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>any</span><span class='hljs-keyword'>)</span> => <span class='hljs-type'>void</span>): Subscription;
  <span class='hljs-method'>subscribe</span>(<span class='hljs-arg'>next</span><span class='hljs-keyword'>: (</span><span class='hljs-arg'>value</span><span class='hljs-keyword'>:</span> T<span class='hljs-keyword'>)</span> => <span class='hljs-type'>void</span>, <span class='hljs-arg'>error</span><span class='hljs-keyword'>: </span><span class='hljs-type'>null</span> <span class='hljs-keyword'>|</span> <span class='hljs-type'>undefined</span>): Subscription;
  <span class='hljs-method'>subscribe</span>(<span class='hljs-arg'>next</span><span class='hljs-keyword'>?: (</span><span class='hljs-arg'>value</span><span class='hljs-keyword'>:</span> T<span class='hljs-keyword'>)</span> => <span class='hljs-type'>void</span>, <span class='hljs-arg'>error</span><span class='hljs-keyword'>?: (</span><span class='hljs-arg'>error</span><span class='hljs-keyword'>:</span> <span class='hljs-type'>any</span><span class='hljs-keyword'>)</span> => <span class='hljs-type'>void</span>): Subscription;
{{ "}" }}</code></pre>


<h2 class='docs-ref-h2'>Types</h2>
<h3 class='docs-ref-h3 first'><code>MlPopupConfig</code></h3>
<pre class='docs-codeblock-pre'><code class='js'><span class='hljs-type'>interface</span> MlPopupConfig {{ "{" }}
  animation<span class='hljs-keyword'>?:</span> {{ "{" }}
    className<span class='hljs-keyword'>?:</span> <span class='hljs-type'>string</span>;
    enter<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>;
    leave<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>;
    destroy<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>;
  {{ "}" }};
  component<span class='hljs-keyword'>?:</span> {{ "{" }}
    injector<span class='hljs-keyword'>?:</span> Injector;
    index<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>;
    ngContent<span class='hljs-keyword'>?:</span> <span class='hljs-type'>any[][]</span>;
  {{ "}" }};
  template<span class='hljs-keyword'>?:</span> {{ "{" }}
    context<span class='hljs-keyword'>?:</span> {{ "{" }}
      <span class='hljs-array'>[</span>key<span class='hljs-keyword'>:</span> <span class='hljs-type'>string</span><span class='hljs-array'>]</span>;
    {{ "}" }};
    index<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>;
  {{ "}" }};
  cloneDOM<span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span>;
  hasBackdrop<span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span>;
{{ "}" }}</code></pre>


<h3 class='docs-ref-h3'><code>MlPopupOutletData</code></h3>
<pre class='docs-codeblock-pre'><code class='js'><span class='hljs-type'>interface</span> MlPopupOutletData {{ "{" }}
  outletElement<span class='hljs-keyword'>:</span> <span class='hljs-string'>'component'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'template'</span> <span class='hljs-keyword'>|</span> <span class='hljs-string'>'DOM'</span>;
  viewContainerRef<span class='hljs-keyword'>:</span> ComponentRef&lt;<span class='hljs-type'>any</span>&gt; <span class='hljs-keyword'>|</span> EmbeddedViewRef&lt;<span class='hljs-type'>any</span>&gt; <span class='hljs-keyword'>|</span> {{ "{" }} <span class='hljs-method'>destroy</span><span class='hljs-keyword'>:</span> () => <span class='hljs-type'>void</span> {{ "}" }};
  detachEvents<span class='hljs-keyword'>:</span> (<span class='hljs-keyword'>(</span><span class='hljs-prop'>destroyedOutlet</span><span class='hljs-keyword'>?:</span> <span class='hljs-type'>boolean</span><span class='hljs-keyword'>)</span> => <span class='hljs-type'>void</span>)<span class='hljs-array'>[]</span>;
  backdrop<span class='hljs-keyword'>:</span> {{ "{" }}
    listenTarget<span class='hljs-keyword'>:</span> ListenTarget;
    style<span class='hljs-keyword'>:</span> CSSStyleDeclaration;
    classList<span class='hljs-keyword'>:</span> DOMTokenList;
    clickHandler<span class='hljs-keyword'>:</span> {{ "{" }}
      usedCount<span class='hljs-keyword'>?:</span> <span class='hljs-type'>number</span>;
      subject<span class='hljs-keyword'>?:</span> Subject&lt;<span class='hljs-type'>void</span>&gt;;
      observable<span class='hljs-keyword'>?:</span> Observable&lt;<span class='hljs-type'>void</span>&gt;;;
      removeListener<span class='hljs-keyword'>?:</span> () => <span class='hljs-type'>void</span>;
    {{ "}" }}
    usedCount<span class='hljs-keyword'>:</span> <span class='hljs-type'>number</span>;
  {{ "}" }}
{{ "}" }}</code></pre>

