<nav class='docs-page-tab'>
  <button mlButton [theme]='pageName === "overview" ? "primary" : ""' routerLink='overview'>Overview</button>
  <button mlButton [theme]='pageName === "reference" ? "primary" : ""' routerLink='reference'>Reference</button>
  <button mlButton [theme]='pageName === "example" ? "primary" : ""' routerLink='example'>Example</button>
</nav>

<h1 class='docs-h1'>Popup<code>- [mlPopupOutlet]</code></h1>

<router-outlet (activate)='onRouteChange($event)'></router-outlet>
