/* You can add global styles to this file, and also import other style files */
@import './assets/roboto-font-face';
@import './assets/mat-icon';
@import './assets/code-block';

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  box-sizing: border-box;
}

pre, code {
  font-family: Roboto Mono, monospace;
}
pre {
  font-size: 14px;
}
code {
  font-size: 100%;
}


div, span, p,
header, footer,
main, section, article, nav {
  box-sizing: border-box;
}
