body {
  margin: 0;
}

.ml-portal-outlet {
  width: 600px;
  height: 600px;
  background: skyblue;
}
.abc {
  width: 100%;
  height: 100%;
  display: block;
  background: pink;
  opacity: 1;
}

.test-enter, .test-leave-to {
  opacity: 0;
}

.test-enter-active, .test-leave-active {
  transition: opacity .5s;
}
