@import '../../Button/theme';
@import '../../Card/theme';


$mat-lite-module-theme-has-used: false;
$mat-lite-theme-has-set: false;

@mixin add-mat-lite-theme-palette($name) {
  @if ($mat-lite-module-theme-has-used) {
    @error '"add-mat-lite-theme-palette()" mixin は、"use-mat-lite-module-theme" mixin を呼び出した後に呼び出されているため意味がないです';
  }
  $mat-lite-theme-palettes: join($mat-lite-theme-palettes, $name, space) !global;
}
@mixin set-mat-lite-theme-palette($palettes) {
  @if ($mat-lite-module-theme-has-used) {
    @error '"set-mat-lite-theme-palette()" mixin は、"use-mat-lite-module-theme" mixin を呼び出した後に呼び出されているため意味がないです';
  }
  $mat-lite-theme-palettes: $palettes !global;
}

@mixin use-mat-lite-module-theme($_theme, $base: light) {

  $mat-lite-module-theme: init-mat-lite-theme($_theme, $base, false) !global;
  $mat-lite-module-base: $base !global;
}


@mixin mat-lite-themes($_theme: (), $base: light) {
  $theme: init-mat-lite-theme($_theme, $base, false);
  @include mat-lite-theme-init($theme);

  @include mat-lite-button-theme($theme, $base, true);
  @include mat-lite-card-theme($theme, $base, true);

}

@mixin mat-lite-theme-init($_theme: null) {
  $theme: null;
  @if $_theme {
    $theme: $_theme
  } @else if $mat-lite-module-theme {
    $theme: $mat-lite-module-theme;
  } @else {
    @error 'Error: "mat-lite-theme-init" mixin';
  }

  .Ml-ref {
    display: none;
  }

  @each $palette in $mat-lite-theme-palettes {
    $color: map-get($theme, $palette);
    $contrast: map-get($theme, #{$palette}-contrast);

    .Ml-#{$palette} {
      &-bg {
        background-color: $color;
      }
      &-text {
        color: $color;
      }
      &-contrast {
        color: $contrast;
      }
    }
  }
}
