@function map-unquote($map) {
  @each $key, $value in $map {
    @if (type-of($value) == string) {
      $newMap: (
        $key: unquote($value),
      );

      $map: map-merge($map, $newMap);
    }
  }

  @return $map;
}

@function contains($list, $var) {
  @return (null != index($list, $var));
}
