$ml-theme-component-list: (button);

@mixin ml-theme-init($theme, $palette, $use: $ml-theme-component-list) {
  $theme: ml-create-theme($theme);
  $palette: ml-create-palette($palette);

  @if (contains($use, button)) {
    @include ml-button-theme($theme, $palette);
  }
}

@function ml-create-theme($theme, $base: light) {
  $template: ml-template-theme($base);
  $theme: map-unquote($theme);
  $returns: map-merge($base, $theme);
  @return $returns;
}

@function ml-create-palette($palette, $base: light) {
  $template: ml-template-palette($base);
  $palette: map-unquote($palette);
  $returns: map-merge($base, $palette);
  @return $returns;
}

@function ml-template-theme($theme) {
  @if $theme == light {
    @return $ml-light-theme;
  } @else if $theme == dark {
    @return $ml-dark-theme;
  } @else if $theme == css-variable or $theme == cssVariable {
    @return $ml-css-variable-theme;
  } @else {
    @return $theme;
  }
}
@function ml-template-palette($palette) {
  @if $palette == css-variable or $palette == cssVariable {
    @return $ml-css-variable-palette;
  } @else if $palette == indigo-pink {
    @return $ml-indigo-pink-palette;
  } @else if $palette == purple-green {
    @return $ml-purple-green-palette;
  } @else if $palette == deep-purple-amber or $palette == deepPurple-amber {
    @return $ml-deepPurple-amber-palette;
  } @else if
    $palette ==
    pink-blue-grey or
    $palette ==
    pink-blueGrey or
    $palette ==
    pink-blue-gray or
    $palette ==
    pink-blueGray
  {
    @return $ml-pink-blueGrey-palette;
  } @else {
    @return $palette;
  }
}
