@function init-mat-lite-theme($theme, $base, $skip-init) {
  @if $skip-init {
    @return $theme;

  } @else {

    $default-map: null;

    @if $base == css-variable {
      $default-map: $mat-lite-default-css-variable-theme;
    } @else if $base == dark {
      $default-map: $mat-lite-default-dark-theme;
    } @else {
      $default-map: $mat-lite-default-light-theme;
    } 

    @if $theme {
      $entry-map: null;

      @each $key in map-keys($theme) {
        $value: map-get($theme, $key);
        $entry-map: map-merge($entry-map, ($key: $value));
      }

      @return $entry-map;
    } @else {
      @return $default-map;
    }

  }
}
