:host {
  display: block;
}
header {
  padding: 80px 0;
  text-align: center;
  h1 {
    font-size: 56px;
  }
  .h-for {
    font-size: 32px;
  }
  .h-angular {
    font-size: 48px;
  }
  p {
    font-size: 20px;
    margin-bottom: 0;
  }
  .version {
    display: inline-block;
    margin-top: 16px;
    font-size: 15.5px;
    font-weight: 500;
    outline: none;
  }
}

.first-section {
  padding-top: 40px;
}

section {
  padding-bottom: 48px;
  text-align: center;
  h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  p {
    padding: 0 16px;
    margin: auto;
    max-width: 960px;
    line-height: 1.8;
  }
  .docs-codeblock {
    width: fit-content;
    margin: 0 auto;
    background-color: #424242;
    color: white;
    border-radius: 4px;
  }
  pre {
    padding: 16px 32px;
  }
  code {
    margin: 0 auto;
  }
}
