@mixin ml-button-theme($theme, $palette) {
  $secondaryContainer: map-get($theme, secondaryContainer);
  $disabledContainer: map-get($theme, disabledContainer);
  $disabledText: map-get($theme, disabledText);
  $divider: map-get($theme, divider);

  .ml-button.ml-disabled {
    color: $disabledText !important;
  }

  .ml-filled-button {
    background-color: $secondaryContainer;

    &.ml-disabled {
      background-color: $disabledContainer !important;
    }
  }

  .ml-stroked-button {
    border-color: $divider !important;
  }

  @each $name, $value in $palette {
    $color: map-get($value, color);
    $contrast: map-get($value, contrast);

    .ml-simple-button.ml-#{$name} {
      color: $color;
    }

    .ml-filled-button.ml-#{$name} {
      background-color: $color;
      color: $contrast;
    }
  }
}
