$mat-amt-duration: (
  faster: 160ms,
  fast:   200ms,
  normal: 240ms,
  slow:   280ms,
  slower: 320ms
);

$mat-amt-function: (
  angular:      cubic-bezier(0.25, 0.8, 0.25, 1),
  standard:     cubic-bezier(0.4, 0.0, 0.2, 1), // fast-out   => slow-in
  deceleration: cubic-bezier(0.0, 0.0, 0.2, 1), // linear-out => slow-in
  acceleration: cubic-bezier(0.4, 0.0, 1, 1)    // fast-out   => liner-in
);

