@mixin ml-button-theme($theme, $palette) {
  $text: map-get($theme, text);
  $secondaryContainer: map-get($theme, oppositeBase);
  $disabledContainer: map-get($theme, disabledContainer);
  $disabledText: map-get($theme, disabledText);
  $divider: map-get($theme, divider);

  .ml-button {
    color: $text;
  }

  .ml-button.ml-disabled {
    color: $disabledText !important;
  }

  .ml-simple-button {
    @each $name, $value in $palette {
      $color: map-get($value, color);

      &.ml-#{$name} {
        color: $color;
      }
    }
  }
  .ml-filled-button {
    background-color: $secondaryContainer;
    @each $name, $value in $palette {
      $color: map-get($value, color);
      $contrast: map-get($value, contrast);

      &.ml-#{$name} {
        background-color: $color;
        color: $contrast;
      }
    }

    &.ml-disabled {
      background-color: $disabledContainer !important;
    }
  }

  .ml-stroked-button {
    border-color: $divider;
  }
}
