<header class='primary-bg primary-contrast'>
  <h1>Material Lite</h1>
  <h2 class='h-for accent-text'>for</h2>
  <h2 class='h-angular'>Angular</h2>
  <p>"Angular Material"の"Change detection"の発生を抑えたComponents</p>
  <p class='version' routerLink='/changelog'>v0.1.1</p>
</header>

<section class='first-section'>
  <h1>インストール</h1>
  <pre class='code'>
    <code>npm install @material-lite/angular @material-lite/angular-cdk</code>
  </pre>
</section>

<section class='second-section'>
  <h1>概要</h1>
  <p>
    デザインや機能はできるだけ<span class='accent-text'>"Angular Material"</span>と同じパフォーマンスを提供できるよう作成しています。
    <span class='accent-text'>"Material lite"</span>の一番の特徴は<span class='accent-text'>"Change detection"</span>を抑え、<span class='accent-text'>"Theme"</span>のカスタマイズが豊富であることです。
    v0 では、２種のComponent<span class='primary-text'>(Button・Ripple)</span>と２種のCDK<span class='primary-text'>(Portal・Popup)</span>を提供しています。
    また、未実装ですが、Breakpointを変更するだけで自動的にレスポンシブデザインをスタイリングしてくれる機能を実装中です。
  </p>
</section>
