@mixin ml-button-theme($theme, $palette) {
  $sliderOffActive: map-get($theme, sliderOffActive);
  $primaryContainer: map-get($theme, primaryContainer);

  .ml-slide-toggle-palette {
    background-color: $sliderOffActive;
  }

  .ml-slide-toggle-thumb {
    background-color: $primaryContainer;
  }

  @each $name, $value in $palette {
    $color: map-get($value, color);

    .ml-checked.ml-#{$name} .ml-slide-toggle-ripple .ml-ripple-element {
      background-color: $color;
    }

    .ml-checked.ml-#{$name} .ml-slide-toggle-bar-palette {
      background-color: $color;
      opacity: 0.54;
    }

    .ml-checked.ml-#{$name} .ml-slide-toggle-thumb {
      background-color: $color;
    }
  }
}
