<nav class='docs-page-tab'>
  <button mlButton [theme]='pageName === "overview" ? "primary" : ""' routerLink='overview'>Overview</button>
  <button mlButton [theme]='pageName === "reference" ? "primary" : ""' routerLink='reference'>Reference</button>
  <button mlButton [theme]='pageName === "example" ? "primary" : ""' routerLink='example'>Example</button>
</nav>

<h1 class='docs-h1'>Ripple<code>- [mlRipple]</code></h1>
<p class='docs-h1-desc'>Rippleは強力な視覚効果を与えることができます。</p>

<router-outlet (activate)='onRouteChange($event)'></router-outlet>
