@mixin ml-button-theme($theme, $palette) {
  $text: map-get($theme, text);
  $secondaryContainer: map-get($theme, oppositeBase);
  $disabledContainer: map-get($theme, disabledContainer);
  $disabledText: map-get($theme, disabledText);
  $divider: map-get($theme, divider);

  .ml-button {
    color: $text;
  }

  .ml-simple-button {
    @each $name, $value in $palette {
      $color: map-get($value, color);

      .ml-button-#{$name} {
        color: $color;
      }
    }
  }
  .ml-filled-button {
    background-color: $secondaryContainer;
    @each $name, $value in $palette {
      $color: map-get($value, color);
      $contrast: map-get($value, contrast);

      .ml-button-#{$name} {
        background-color: $color;
        color: $contrast;
      }
    }

    &.ml-disabled-button {
      background-color: $disabledContainer;
    }
  }

  .ml-stroked-button {
    border-color: $divider !important;
  }

  .ml-disabled-button {
    color: $disabledText;
  }
}

// @mixin mat-lite-button-theme($_theme, $base, $skip-init: false) { 

// $theme: init-mat-lite-theme($_theme, $base, $skip-init);

// $opposite-base: map-get($theme, opposite-base);
// $secondary-container: map-get($theme, secondary-container);
// $text: map-get($theme, text);

// $divider: map-get($theme, divider);

// .Ml-button {
//   color: $text; // デフォルト値

//   &a, a {
//     &:link { color: #3F51B5; }
//     &:visited { color: #673AB7; }
//   }
// }

// .Ml-simple-button {
//   background-color: transparent; // 固定

//   @each $palette in $mat-lite-theme-palettes {
//     $color: map-get($theme, $palette);

//     &.Ml-button-#{$palette} {
//       color: $color;
//     }
//   }
// }

// .Ml-filled-button {
//   background-color: $secondary-container;

//   @each $palette in $mat-lite-theme-palettes {
//     $color: map-get($theme, $palette);
//     $contrast: map-get($theme, #{$palette}-contrast);

//     @if $color and $contrast {
//       &.Ml-button-#{$palette} {
//         background-color: $color;
//         color: $contrast;
//       }
//     }
//   }

//   &.Ml-disabled-button {
//     background-color: map-get($theme, disabled-container) !important;
//   }
// }

// .Ml-stroked-button {
//   border-color: $divider !important;
// }

// .Ml-disabled-button {
//   color: map-get($theme, disabled-text) !important;

//   .Ml-ripple-outlet {
//     box-shadow: 0 0 0 0 transparent !important;
//   }
// }

// .Ml-button-overlay {
//   background-color: currentColor;
// }


// }
