app-docs-route-nav {
  position: relative;
  display: flex;
  margin-bottom: 32px;

  .ml-tracker {
    will-change: left;
    // transition-property: left;
    // transition-duration: 400ms;
  }
}

.docs-route-nav {
  &-tracker {
    height: 2px;
  }

  &-button {
    width: 100%;
  }
}
