@mixin flex($jd: null, $jc: null, $ai: null, $fw: null) {
  display: flex;
  flex-direction: $jd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}
@mixin inline-flex($jd: null, $jc: null, $ai: null, $fw: null) {
  display: inline-flex;
  flex-direction: $jd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}



@mixin zero-position { top: 0; bottom: 0; left: 0; right: 0; }
@mixin zero-pos { @include zero-position; }

@mixin zero-box-shadow { box-shadow: 0 0 0 0 transparent; }
@mixin zero-elevation  { @include zero-box-shadow; }

@mixin zero-scrollbar {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}

@mixin zero-both-ends-padding($position) {
  @if $position == y {
    &:first-child { padding-top: 0; }
    &:last-child { padding-bottom: 0; }
  } @else if $position == x {
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}
@mixin zero-both-ends-margin($position) {
  @if $position == y {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  } @else if $position == x {
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}
@mixin zero-both-ends($type, $position) {
  @if $type == padding { @include zero-both-ends-padding($position); }
  @else if $type == margin { @include zero-both-ends-margin($position); }
}
