@mixin set-mat-button-lite-theme($_theme, $base, $skip-init: false) { 

$theme: init-mat-lite-theme($_theme, $base, $skip-init);

$opposite-base: map-get($theme, opposite-base);
$secondary-container: map-get($theme, secondary-container);
$text: map-get($theme, text);

$divider: map-get($theme, divider);

.Ml-button {
  color: $text; // デフォルト値
}

.Ml-simple-button {
  background-color: transparent; // 固定

  @each $palette in $mat-lite-theme-palettes {
    $color: map-get($theme, $palette);

    &.Ml-button-#{$palette} {
      color: $color;
    }
  }
}

.Ml-filled-button {
  background-color: $secondary-container;

  @each $palette in $mat-lite-theme-palettes {
    $color: map-get($theme, $palette);
    $contrast: map-get($theme, #{$palette}-contrast);

    @if $color and $contrast {
      &.Ml-button-#{$palette} {
        background-color: $color;
        color: $contrast;
      }
    }
  }
}

.Ml-stroked-button {
  border-color: $divider !important;
}

.Ml-disabled-button {
  background-color: map-get($theme, disabled-container) !important;
  color: map-get($theme, disabled-text) !important;
}

.Ml-button-overlay {
  background-color: currentColor;
}


}