@import '../styles/props';
@import '../theming';
@import './theme';


@if $mat-lite-module-theme {
  @include mat-lite-button-theme($mat-lite-module-theme, $mat-lite-module-base, true);
}

@mixin active-elevation($off, $on) {
  .Ml-ripple-outlet {
    transition: mat-elevation-transition-property-value();
    @include mat-elevation($off);
  }

  &:active .Ml-ripple-outlet {
    @include mat-elevation($on);
  }
}

$overlay-opacity: 0.056;

.Ml-button {
  display: inline-flex;
  overflow: visible !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-weight: 500;
  font-family: inherit;
  font-size: 14px;

  border: none;
  outline: none;

  box-sizing: border-box;

  &:focus-visible .Ml-button-overlay {
    opacity: $overlay-opacity;
  }

  &a, a {
    text-decoration: none;
  }

  .Ml-ripple-outlet {
    border-radius: inherit;
  }
}

.Ml-link-button {
  padding: 0;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%; width: 100%;
    padding: 0 16px;
  }
}

.Ml-basic-button,
.Ml-raised-button,
.Ml-stroked-button,
.Ml-flat-button {
  min-width: 64px;
  min-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
}

.Ml-icon-button,
.Ml-fab {
  min-height: 32px;
  min-width: 32px;
  padding: 0;
  border-radius: 50%;
}

.Ml-raised-button {
  @include active-elevation(2, 8);
}

.Ml-stroked-button {
  padding: 0 15px; // <= borderが入るため、1pxを引く
  border: 1px solid currentColor;
}

.Ml-icon-button {
  height: 40px;
  width: 40px;
  font-size: 24px;
}

.Ml-fab {
  @include active-elevation($z-resting-fab, $z-pressed-fab);
}

.Ml-disabled-button {
  pointer-events: none;
  box-shadow: 0 0 0 0 transparent !important;
}

.Ml-button-hover-action {
  .Ml-button-overlay {
    display: inline;
    transition: opacity-transition-value();
  }
  &:hover .Ml-button-overlay {
    opacity: $overlay-opacity;
  }
}

.Ml-button-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  pointer-events: none;
  opacity: 0;
  border-radius: inherit;

  transition: opacity map-get($mat-amt-duration, fast) cubic-bezier(0.35, 0, 0.25, 1);
}
